{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
     <div class="container mt-5">
        <h2 class="text-center">Weekly Report</h2>

        <h3>Food Intake</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered text-center">
                <thead class="table-dark">
                <tr>
                    <th class="other-column">Date</th>
                    <th class="other-column">Time</th>
                    <th class="other-column">Item</th>
                    <th class="other-column">Amount</th>
                    <th class="description-column">Description</th>
                    <th class="other-column" >Calories</th>
                </tr>
                </thead>
                <tbody>
                {% for item in food_intake %}
                    <tr>
                        <td class="other-column" >{{ item.date }}</td>
                        <td class="other-column">{{ item.time }}</td>
                        <td class="other-column">{{ item.food }}</td>
                        <td class="other-column">{{ item.amount }} gm</td>
                        <td class="description-column">{{ item.description }}</td>
                        <td class="other-column">{{ item.calories }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td class="other-column"><strong>Total Intake</strong></td>
                    <td colspan="4"></td>
                    <td class="other-column"><strong>{{ total_intake }}</strong></td>
                </tr>
                </tfoot>
            </table>
        </div>

        <h3>Exercise Done</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered text-center">
                <thead class="table-dark">
                <tr>
                    <th class="other-column">Date</th>
                    <th class="other-column">Time</th>
                    <th class="other-column">Activity</th>
                    <th class="other-column">Duration</th>
                    <th class="description-column">Description</th>
                    <th class="other-column">Calories Burned</th>
                </tr>
                </thead>
                <tbody>
                {% for item in exercise_done %}
                    <tr>
                        <td class="other-column">{{ item.date }}</td>
                        <td class="other-column">{{ item.time }}</td>
                        <td class="other-column">{{ item.exercise }}</td>
                        <td class="other-column">{{ item.duration }} min</td>
                        <td class="description-column">{{ item.description }}</td>
                        <td class="other-column">{{ item.calories_burned }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td class="other-column"><strong>Total Burned</strong></td>
                    <td colspan="4"></td>
                    <td class="other-column"><strong>{{ total_burned }}</strong></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="mt-4 px-2 d-flex justify-content-end">
        <a href="{{ url_for('home') }}" class="btn btn-secondary btn-custom">Back</a>
    </div>
{% endblock %}
